<div id='container'>
	<img id='poster-image' src='assets/poster.jpg'>
	<div>
		<h1 id='title'>
			THE LANTERN CARRIER<br>
			- Swedish poster (50 x 70 cm)
		</h1>
		<p id='price'>$28</p>
		<div>
			<label for='variant'>Poster variant:</label>
			<select name='variant' id='variant-dropdown'>
				<option value='Normal poster'>Normal poster</option>
				<option value='Signed poster'>Signed poster</option>
			</select>
		</div>
		<div>
			<label>Count:</label>
			<input type='number' min='1' max='5'>
		</div>
		<button id='buy'>BUY</button>
		<p>
		-50 x 70 cm print on matte paper. Larger prints will maybe be available in the future.
		</p>
		<p>
		-Only 6 copies are available at the moment, so be quick and don't wait too long to purchase!
		</p>
		<p>
		-A signed copy i available for five dollars extra.
		</p>
		<p>
		-Please allow up to a week for shipping.
		</p>
		<p>
		"Lyktbäraren - en kortfilm av Noah Adolfsson Hall" translates to: "The Lantern Carrier - a short film by Noah Adolfsson Hall".
		</p>
		<p>
		I made this poster during the production of my student film "The Lantern Carrier". The original plan was just to distribute the movie in swedish, so that's why this poster is in swedish. Due to popular demand, this is the version of the poster that will be available to the public.
		</p>
	</div>
	<div id='images'>
		<img id='stellah-image' src='assets/stellah.jpg'>
		<img id='lantern-image' src='assets/lantern_character.png'>
	</div>
</div>
<a id='watch' href='https://www.youtube.com/watch?v=_ggTEuyMS8U'>WATCH THE LATERN CARRIER ON YOUTUBE!</a>

<app-navbar id='navbar' [hasLanternCarrier]=false></app-navbar>