body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

@font-face {
    font-family: 'Trattatello';
    src: url('Trattatello.ttf');
}

p, a {
    font-family: 'Trattatello', serif, 'Times New Roman', Times;
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#menu_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu_link {
    font-size: 3em;
    padding: 25px 20px 0 20px;
}

#title_image {
    width: 500px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
}

@media screen and (max-width: 992px) {
    body {
        align-content: stretch;
        height: initial;
    }
    #wrapper {
        margin: 10px 30px;
    }
    #menu_links {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .menu_link {
        margin: 0 10px;
    }
}
@media screen and (max-width: 600px) {
    #title_image {
        width: 300px;
    }
    .menu_link {
        font-size: 2.5em;
    }
}
@media screen and (max-width: 350px) {
    #title_image {
        width: 250px;
    }
}
