<div id='container'>
	<div id='left'>
		<img src='assets/poster.jpg'>
		<a id='buy' routerLink='/posters'>BUY THIS POSTER</a>
	</div>
	<div id='right'>
		<h1 id='title'>THE LANTERN CARRIER</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, qui sint, suscipit maiores voluptates sapiente illo ea quae ipsam laboriosam ullam laborum minima atque quia nihil vero est. Dolorem dolores eos fugiat, quos iusto debitis veniam! Assumenda sit, in ex amet repellendus hic optio? Odit, hic officia. Velit architecto aliquam tenetur! Ullam, qui voluptatem, consectetur autem doloremque temporibus fugiat suscipit excepturi explicabo magni, cum quas incidunt doloribus eos blanditiis voluptatum laborum molestiae ipsa facere atque ducimus distinctio! Consequuntur rerum totam dicta fugiat, quidem enim vel eveniet voluptatem at modi ducimus numquam expedita accusamus sequi explicabo nulla architecto nisi consectetur praesentium?
		</p>
	</div>
</div>
<div id='images'>
	<img src='assets/lantern_0.jpg'>
	<img src='assets/lantern_1.jpg'>
	<img src='assets/lantern_2.jpg'>
	<img src='assets/lantern_3.jpg'>
	<img src='assets/lantern_4.jpg'>
	<img src='assets/lantern_5.jpg'>
</div>

<app-navbar id='navbar' [hasLanternCarrier]=false></app-navbar>