#top-container {
	display: flex;
	flex-direction: row;
}
h1 {
	font-style: normal;
}
h2 {
	font-style: italic;
}
// p {
// 	text-align: justify;
// }
// #title {
// 	font-weight: 200;
// 	font-size: 3em;
// 	line-height: 1em;
// 	margin-top: 30px;
// 	margin-bottom: 0;
// 	letter-spacing: -2px;
// }
#left {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	width: 300px;
	text-align: center;
}
#left > img {
	width: 300px;
	border: 5px white solid;
}
.images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.images > img {
	width: 32%;
	margin-bottom: 20px;
}
#buy {
	color: rgb(255, 0, 0);
	font-size: 2em;
	line-height: 2.2em;
	margin-bottom: 20px;
}

.character-image {
	width: 240px;
	border: 5px white solid;
	margin: 20px;
	border-radius: 50%;
	shape-outside: margin-box;
}
#stella {
	float: right;
}
#latern-carrier {
	float: left;
}
#lantern-carrier-family {
	float: right;
	width: 300px;
	border-radius: 0;
}

#characters-title {
	padding: 0 15%;
	text-align: center;
}

// #poster-image {
// 	height: 400px;
// }