<div id='container'>
	<div>
		<h1>Music</h1>
		<p>
		Besides making art and animations I also like to make music! I mostly make small melodies on my digital piano and then I transcribe it into FL Studio to add more instruments to the music. I mostly make music for fun but nowadays I also compose the soundtracks for my own films.
		</p>
		<p>
		You can find some of my music below!
		</p>
		<a href='https://soundcloud.com/noah-adolfsson-hall'>Soundcloud</a>
		<p>
		You can find my instrumental album The Quest for Fika on these streaming sites:
		</p>
		<div id='album-links'>
			<a href='https://open.spotify.com/album/2YoVezPlBOXyRU16jGVNf0?autoplay=true'>Spotify,</a>
			<a href='https://apple.co/2HrAV0l'>Apple Music,</a>
			<a href='https://music.youtube.com/playlist?list=OLAK5uy_kRk7dDgC03g6n0qcoVNL6yhIvcerHj5oo'>YouTube Music,</a>
			<a href='https://www.deezer.com/album/115869182?autoplay=true'>Deezer,</a>
			<a href='https://amzn.to/34nJD8X'>Amazon</a>
		</div>
	</div>
	<div id='images'>
		<img id='pianospelaren' src='assets/pianospelaren.png'>
		<img id='cd' src='assets/CD.png'>
	</div>
</div>
<app-navbar id='navbar' [hasLanternCarrier]=true></app-navbar>
