/* #content {
    display: flex;
    flex-direction: column;
} */
#content {
    margin-top: 15px;
}

#content_title {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0px;
}
#content_text {
    font-size: 1.4em;
    line-height: 1.4em;
}

#side_images {
    position: relative;
    top: -100px;
    padding-left: 70px;
    float: right;
}
#pianospelaren {
    height: 370px;
}
#cd {
    position: absolute;
    height: 130px;
    bottom: 0px;
    left: 0px;
}

#quest_for_fika_info {
    font-size: 1.4em;
}
#quest_for_fika_links > a {
    padding-right: 10px;
}

a {
    color: rgb(255, 20, 200);
    font-size: 1.6em;
    line-height: 1.6em;
}
#menu_links > a {
    color: white;
}
