<div id='container'>
	<div id='text'>
		<h1>About Noah Adolfsson Hall</h1>
		<p>
			I am a {{age}} year old artist, animator and composer from Sweden.
		</p>
		<p>
			I have made animations for the internet since 2012 in my spare time, which I am still doing to this day. I mostly work independently but I also collaborate with internet friends to make animations.
		</p>
		<p>
			My dream is to have my own animation studio someday where I can make animated films together with my friends and other like-minded people.
		</p>
	</div>
	<div id='right-side'>
		<img id='portrait' src='assets/sjalvportratt.png'>
		<div id='links'>
			<a href='https://instagram.com/gotaren_/'>instagram</a>
			<a href='https://twitter.com/gotaren'>twitter</a>
			<a href='https://youtube.com/user/noahanimerar'>youtube</a>
			<a href='https://vimeo.com/user29788703'>vimeo</a>
		</div>
	</div>
</div>
<app-navbar id='navbar' [hasLanternCarrier]=true></app-navbar>
